@font-face {
  font-family: "PTSans-Regular";

  src: url("../fonts/PTSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/PTSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/PTSans-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Italic";

  src: url("../fonts/PTSans-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/PTSans-Italic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/PTSans-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Bold";

  src: url("../fonts/PTSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/PTSans-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/PTSans-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansCondensed-Light";

  src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/OpenSansCondensed-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/OpenSansCondensed-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}